.cars{
    background-color: mediumblue;text-align: center;padding: 15px;border: lightcoral;margin: 20px;
}
.foods{
    background-color: #340101;padding: 20px;margin: 20px;
}
.CARS{
    background-color: #340101;padding: 20px;margin: 20px;text-decoration: navy;
